{% extends 'tyrepower_app/base.html' %}
{% block content %}
{% load static %}


<style>
    .info {
        color: green;
        margin-left: 22px;
    }

    .error {
        color: red;
        margin-left: 22px;
    }
</style>
<div class="page-wrapper wrapper_page">
    <div class="page-breadcrumb bg-white white_bg">
        <div class="tyre-list-main-div">
            <div class="my-3">
                <div class="heading-main-div-area py-4 bg-white">
                    <h2 class="text-center p-0 m-0">Change Password</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid fluid_container responsive_container white_bg">
            <div class="row responsive_row">
                <div class="col-lg-12">
                    <div class="setting-tab-detail-main-area main_area_tab_setting">
                        <div class="setting-tab-main-area tab_setting_main_area">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active tab-btn link_nav" id="manage-profile-tab"
                                        data-bs-toggle="tab" data-bs-target="#manage-profile" type="button" role="tab"
                                        aria-controls="manage-profile" aria-selected="false"><i class="fa fa-lock"
                                            aria-hidden="true">
                                        </i><span class="responsive_icon">Change Password</span></button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="manage-profile" role="tabpanel"
                                aria-labelledby="manage-profile-tab">
                                {% if messages %}
                                {% for message in messages %}
                                <span class="{{message.tags}}">{{message}}</span>
                                {% endfor %}
                                {% endif %}
                                <div class="row">
                                    <div class="setting-profile-detail-input-area">
                                        <form class="contact-form-main-area" action="{% url 'change-password' %}"
                                            method="POST" id="paymentFrm">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="setting-tab-heading-area">
                                                        <h2>Change Password</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="change-password-input-box-area">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="change-password-lavel-area">
                                                            <h2>Old Password</h2>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="change-password-input-box">
                                                            <input type="password" id="old_password" name="old_password"
                                                                class="form-control change_border"
                                                                placeholder="Enter Old Password">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="change-password-input-box-area">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="change-password-lavel-area">
                                                            <h2>New Password</h2>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="change-password-input-box">
                                                            <input type="password" id="new_password" name="new_password"
                                                                class="form-control change_border"
                                                                placeholder="Enter New Password">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="change-password-input-box-area">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="change-password-lavel-area">
                                                            <h2>Confirm Password</h2>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="change-password-input-box">
                                                            <input type="password" id="confirm_password"
                                                                name="confirm_password"
                                                                class="form-control change_border"
                                                                placeholder="Enter Confirm Password">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="change-password-submit-area">
                                                <button type="submit"
                                                    class="submit-password-change-btn download-invoice-btn">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}